<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 실질적인 쿼리문을 작성하는 곳 -->
<mapper namespace="com.care.root.main.memberDAO.MemberDAO"><!-- 이 클래스와 연결하겠다 -->
	<resultMap type="com.care.root.main.memberDTO.MemberDTO" id="member">
		<result property="id" column="id"/>
		<result property="pwd" column="pwd"/>
		<result property="name" column="name"/>
		<result property="addr" column="addr"/>
	</resultMap>
	<insert id="insert">
		insert into jsp_member values(#{id},#{pwd},#{name},#{addr})
	</insert>
	<select id="list" resultMap="member">
		select * from jsp_member
	</select>
	<select id="selectId" resultMap="member">
		select * from jsp_member where id = #{id}
	</select>
</mapper>